<nav class="navbar navbar-expand-lg border-bottom shadow-0">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">NeoSOFT</a>
        <button class="navbar-toggler ps-0" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
            aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="d-flex justify-content-start align-items-center">
                <i class="fas fa-bars"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link px-3" href="/">About Us</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link px-3" href="/">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="/">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="/gallery">Gallery</a>
                </li>
            </ul>

            <ul class="navbar-nav flex-row">
                <li class="nav-item ms-3 sign">
                    <a class="btn btn-dark" href="/user/login">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>