<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/Style.css">
    <title>Login</title>
</head>

<body>
    {{> nav}}
    <div class="entry">
        {{#if succMsg}}
        <p class="alert alert-success">{{succMsg}}</p>
        {{/if}}
        {{#if errMsg}}
        <p class="alert alert-danger">{{errMsg}}</p>
        {{/if}}
    </div>
    <section class=" my-5 main-part" style="background-color:rgb(123, 224, 224);border:1px solid;width:55%;margin-left:20%;border-radius:5%;">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

                    <form method="post" action="/user/login_post/{{id}}">
                        <!-- Email input -->
                        <div class="form-outline mb-3">
                            <label class="form-label" for="form3Example3">Username</label>
                            <input type="text" name="user" class="form-control form-control-lg"
                                placeholder="Enter a username" />
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <label class="form-label" for="form3Example4">Password</label>
                            <input type="password" name="pass" class="form-control form-control-lg"
                                placeholder="Enter password" />
                        </div>

                        <div class="d-flex justify-content-between align-items-center mx-4">
                            <a href="/user/forgatepass" class="text-body text-dark">Forget password?</a>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-outline-primary btn-lg mx-4"
                                style="padding-left: 2.5rem; padding-right: 2.5rem; border-radius:20px;">Login</button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">don't have an account? <a href="/user/register"
                                    class="link-danger">Register</a></p>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </section>
    <footer>
        {{> footer}}
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>